:host { 
  display: contents; 
}
.viaggio-container {
  font-family: Ringbearer;
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-sfondomorbido);
}
.viaggio-navbar {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: fixed;
  max-width: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-primary-darktheme);
  flex: 0 0 auto;
  align-self: flex-start;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.viaggio-logo {
  color: var(--dl-color-primary-sfondomorbido);
  font-size: 2.8rem;
  margin-bottom: 0;
}
.viaggio-container02 {
  flex: 0 0 auto;
  width: 10%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container03 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.viaggio-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.viaggio-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.viaggio-link {
  color: var(--dl-color-primary-sfondomorbido) !important;;
  font-size: 2rem;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
  cursor: pointer;
}
.viaggio-container04 {
  flex: 0 0 auto;
  width: 200px;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.viaggio-burger-menu {
  width: 24px;
  height: 24px;
}
.viaggio-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.viaggio-nav {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.viaggio-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-icon3 {
  width: 24px;
  height: 24px;
}
.viaggio-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.viaggio-links-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.viaggio-text {
  margin-bottom: 8px;
}
.viaggio-text01 {
  margin-bottom: 8px;
}
.viaggio-hero {
  width: 100%;
  height: 1525px;
  display: flex;
  padding: 48px;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDM0fHxqYXBhbnxlbnwwfHx8fDE2NzUxMjIyMzM&ixlib=rb-4.0.3&h=1600');
  background-position: center;
}
.viaggio-container05 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.56);
}
.viaggio-text03 {
  color: var(--dl-color-gray-white);
  font-size: 2rem;
  letter-spacing: 2px;
}
.viaggio-text04 {
  color: var(--dl-color-primary-sfondomorbido);
  font-size: 3.5rem;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.viaggio-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  justify-content: space-between;
}
.viaggio-container06 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 32px;
  margin-right: 32px;
  flex-direction: column;
  justify-content: flex-start;
}
.viaggio-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.viaggio-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.viaggio-banner {
  width: 50%;
  display: flex;
  padding: 48px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.viaggio-text05 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 32px;
}
.viaggio-text07 {
  font-weight: 600;
}
.viaggio-button {
  color: var(--dl-color-primary-sfondomorbido);
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-darktheme);
}
.viaggio-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.viaggio-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 386px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.viaggio-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.viaggio-container11 {
  flex: 0 0 auto;
  width: 25%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container12 {
  flex: 0 0 auto;
  width: 20%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.viaggio-logo2 {
  height: 100%;
}
.viaggio-container13 {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container14 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.viaggio-container16 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text09 {
  width: 100%;
  font-size: 20px;
}
.viaggio-container17 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container18 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text12 {
  width: 100%;
  font-size: 20px;
}
.viaggio-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
}
.viaggio-container20 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text15 {
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
}
.viaggio-container21 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container22 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text20 {
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
}
.viaggio-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: flex-start;
}
.viaggio-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.viaggio-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.viaggio-logo3 {
  height: 100%;
}
.viaggio-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.viaggio-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.viaggio-container29 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text25 {
  width: 100%;
  font-size: 20px;
}
.viaggio-container30 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container31 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text28 {
  width: 100%;
}
.viaggio-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.viaggio-container33 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text33 {
  width: 100%;
  font-size: 20px;
}
.viaggio-container34 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container35 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text36 {
  width: 100%;
}
.viaggio-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: flex-start;
}
.viaggio-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.viaggio-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.viaggio-logo4 {
  height: 100%;
}
.viaggio-container39 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.viaggio-container40 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-container41 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.viaggio-container42 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text41 {
  width: 100%;
  font-size: 20px;
}
.viaggio-container43 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.viaggio-container44 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text44 {
  width: 100%;
}
.viaggio-container45 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.viaggio-container46 {
  flex: 0 0 auto;
  width: 47.5%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text49 {
  width: 100%;
  font-size: 20px;
}
.viaggio-container47 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.viaggio-container48 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.viaggio-text52 {
  width: 100%;
}
.itinerariotitle {
  color: var(--dl-color-primary-darktheme);
  font-size: 3.5em;
  padding-top: 1em;
}
.width-navbar-row{
  width: 100%;
}
.all-right{
  justify-content: flex-end;
}
.no-margin-right{
  margin-right: 0 !important;
}
.size-button{
  width: 1.2em;
  height: 1.2em;
}
@media(max-width: 1600px) {
  .viaggio-container01 {
    width: 45%;
  }
  .viaggio-logo {
    font-size: 2.5rem;
  }
  .viaggio-container02 {
    width: 5%;
  }
  .viaggio-text04 {
    font-size: 3rem;
  }
  .viaggio-banner {
    width: 70%;
  }
  .viaggio-container19 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .viaggio-text15 {
    padding-top: var(--dl-space-space-halfunit);
  }
  .viaggio-text20 {
    padding-top: var(--dl-space-space-halfunit);
  }
  .viaggio-link {
    font-size: 1.5rem;
  }
  .viaggio-button {
    font-size: 1rem;
    width: 60%;
  }
}
@media(max-width: 1200px) {
  .viaggio-logo {
    font-size: 2.2rem;
  }
  .viaggio-container05 {
    width: 75%;
  }
  .viaggio-text04 {
    font-size: 3rem;
  }
  .viaggio-container11 {
    width: 20%;
  }
  .viaggio-container13 {
    width: 20%;
  }
  .viaggio-container14 {
    width: 40%;
  }
  .viaggio-container16 {
    width: 45%;
  }
  .viaggio-container17 {
    width: 10%;
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container18 {
    width: 45%;
  }
  .viaggio-container20 {
    width: 45%;
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container21 {
    width: 10%;
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container22 {
    width: 45%;
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container30 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container31 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container34 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container35 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container44 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-container48 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .viaggio-link {
    font-size: 1.25rem;
  }
  .viaggio-button {
    font-size: 0.95rem;
  }
}
@media(max-width: 991px) {
  .viaggio-logo {
    font-size: 1.8rem;
  }
  .viaggio-banner {
    width: 80%;
  }
  .viaggio-text05 {
    text-align: center;
  }
  .viaggio-button {
    width: 60%;
  }
  .viaggio-container11 {
    width: 10%;
  }
  .viaggio-container12 {
    width: 15%;
  }
  .viaggio-container13 {
    width: 10%;
  }
  .viaggio-container14 {
    width: 60%;
  }
  .viaggio-container15 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .viaggio-container17 {
    width: 5%;
    border-width: 0px;
  }
  .viaggio-container18 {
    justify-content: center;
  }
  .viaggio-container20 {
    border-width: 0px;
  }
  .viaggio-container21 {
    width: 5%;
    border-width: 0px;
  }
  .viaggio-container22 {
    border-width: 0px;
  }
  .viaggio-container25 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .viaggio-container26 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .viaggio-container28 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .viaggio-container30 {
    border-width: 0px;
  }
  .viaggio-container31 {
    border-width: 0px;
  }
  .viaggio-container34 {
    border-width: 0px;
  }
  .viaggio-container35 {
    border-width: 0px;
  }
  .viaggio-container38 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .viaggio-container39 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .viaggio-container41 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .viaggio-container43 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .viaggio-container44 {
    border-width: 0px;
  }
  .viaggio-container48 {
    border-width: 0px;
  }
  .viaggio-link {
    font-size: 0.95rem;
  }
}
@media(max-width: 767px) {
  .viaggio-navbar {
    padding: var(--dl-space-space-unit);
  }
  .viaggio-container01 {
    width: 80%;
  }
  .viaggio-logo {
    font-size: 1.7rem;
  }
  .viaggio-container02 {
    display: none;
  }
  .viaggio-container03 {
    display: none;
  }
  .viaggio-right-side {
    display: none;
  }
  .viaggio-container04 {
    width: 20%;
    display: flex;
    align-items: flex-end;
  }
  .viaggio-burger-menu {
    display: flex;
  }
  .viaggio-text {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-sfondomorbido);
  }
  .viaggio-text01 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-sfondomorbido);
  }
  .viaggio-text02 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-sfondomorbido);
  }
  .viaggio-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .viaggio-container05 {
    width: 90%;
  }
  .viaggio-text03 {
    font-size: 1.35rem;
  }
  .viaggio-text04 {
    font-size: 2.2rem;
  }
  .viaggio-blog {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .viaggio-container06 {
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .viaggio-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .viaggio-button {
    width: 100%;
  }
  .viaggio-container10 {
    display: none;
  }
  .viaggio-container23 {
    display: flex;
  }
  .viaggio-container25 {
    justify-content: center;
  }
  .viaggio-text25 {
    text-align: right;
  }
  .viaggio-container33 {
    justify-content: center;
  }
  .viaggio-text33 {
    text-align: right;
  }
  .viaggio-container38 {
    justify-content: center;
  }
  .viaggio-container46 {
    justify-content: center;
  }
  .itinerariotitle {
    font-size: 2.5rem;
  }
}
@media(max-width: 479px) {
  .viaggio-container01 {
    width: 85%;
    flex-direction: column;
  }
  .viaggio-logo {
    font-size: 1.4rem;
  }
  .viaggio-container04 {
    width: 15%;
  }
  .viaggio-mobile-menu {
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 100;
  }
  .viaggio-logo1 {
    font-size: 1.2rem;
  }
  .viaggio-hero {
    height: 933px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .viaggio-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .viaggio-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .viaggio-text05 {
    font-size: 1.3rem;
  }
  .viaggio-button {
    padding: 0px;
    font-size: 0.85rem;
  }
  .viaggio-container23 {
    display: none;
  }
  .viaggio-container36 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .viaggio-container38 {
    justify-content: center;
  }
  .viaggio-container39 {
    align-self: center;
  }
  .viaggio-container40 {
    height: auto;
    align-items: center;
  }
  .viaggio-container41 {
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .viaggio-container42 {
    align-items: center;
  }
  .viaggio-text41 {
    font-size: 1.3rem;
    text-align: center;
  }
  .viaggio-container43 {
    align-self: center;
    justify-content: center;
  }
  .viaggio-container44 {
    width: 100%;
  }
  .viaggio-text44 {
    text-align: center;
  }
  .viaggio-container45 {
    padding-top: var(--dl-space-space-unit);
    justify-content: center;
  }
  .viaggio-container46 {
    width: 100%;
    height: auto;
  }
  .viaggio-text49 {
    font-size: 1.3rem;
    text-align: center;
  }
  .viaggio-container47 {
    justify-content: center;
  }
  .viaggio-container48 {
    width: 100%;
  }
  .viaggio-text52 {
    text-align: center;
  }
  .itinerariotitle {
    font-size: 2rem;
  }
}
