<div class="viaggio-container">
  <nav data-role="Header" class="viaggio-navbar">
    <div class="viaggio-container01">
      <h1 class="viaggio-logo">Regalaci un viaggio</h1>
    </div>
    <div class="viaggio-container02"></div>
    <div class="viaggio-container03">
      <div class="viaggio-right-side">
        <div class="viaggio-links-container">
          <a routerLink="/" class="viaggio-navlink">Home page</a>
          <a href="#itnierario" class="viaggio-link">Itinerario</a>
          <a href="#rsvp" class="viaggio-link1">Sezione regalo</a>
        </div>
      </div>
    </div>
    <div class="viaggio-container04">
      <div data-role="BurgerMenu" class="viaggio-burger-menu">
        <svg viewBox="0 0 1024 1024" class="viaggio-burger-menu">
          <path
            d="M810.667 725.333h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
          ></path>
          <path
            d="M810.667 426.667h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
          ></path>
          <path
            d="M810.667 128h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
          ></path>
        </svg>
      </div>
    </div>
    <div data-role="MobileMenu" class="viaggio-mobile-menu">
      <div class="viaggio-nav">
        <div class="viaggio-top">
          <h1 class="viaggio-logo1">Regalaci un Viaggio</h1>
          <div data-role="CloseMobileMenu" class="viaggio-close-menu">
            <svg viewBox="0 0 1024 1024" class="viaggio-icon3">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="viaggio-right-side1">
          <div class="viaggio-links-container1">
            <span class="viaggio-text">Ora e Luogo</span>
            <span class="viaggio-text01">RSVP</span>
            <span class="viaggio-text02">Regalaci un viaggio</span>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="viaggio-hero">
    <div class="viaggio-container05">
      <span class="viaggio-text03">Destinazione Giappone</span>
      <h1 class="viaggio-text04">Regalaci il viaggio dei nostri sogni!</h1>
    </div>
  </div>
  <div id="itnierario" class="viaggio-blog">
    <blog-post-card4
      date="Tokyo"
      label="Un tuffo in città"
      image_src="https://images.unsplash.com/photo-1584660470766-20ac1a28c7fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI5fHx0b2t5b3xlbnwwfHx8fDE2NzUxMjIzNjc&amp;ixlib=rb-4.0.3&amp;w=1500"
      rootClassName="rootClassName1"
    ></blog-post-card4>
    <div class="viaggio-container06">
      <blog-post-card4
        date="Kyoto"
        label="Nature"
        image_src="https://images.unsplash.com/photo-1624253346805-df69ad2b3d7f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fGt5b3RvfGVufDB8fHx8MTY3NTEyMjQxNg&amp;ixlib=rb-4.0.3&amp;w=1500"
        rootClassName="rootClassName2"
      ></blog-post-card4>
      <blog-post-card4
        date="Okinawa"
        image_src="https://images.unsplash.com/photo-1609673889466-61145b2084f3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDZ8fG9raW5hd2F8ZW58MHx8fHwxNjc1MTIyNDQ2&amp;ixlib=rb-4.0.3&amp;w=1500"
        rootClassName="rootClassName3"
      ></blog-post-card4>
    </div>
    <blog-post-card4
      date="Osaka"
      image_src="https://images.unsplash.com/photo-1590559899731-a382839e5549?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG9zYWthfGVufDB8fHx8MTY3NTEyMjQzMg&amp;ixlib=rb-4.0.3&amp;w=1500"
      rootClassName="rootClassName4"
    ></blog-post-card4>
  </div>
  <div class="viaggio-container07"></div>
  <div class="viaggio-banner">
    <h2 class="viaggio-text05">
      <span>
        Premi il pulsante sotto per visualizzare in chiaro le istruzioni e le
        coordinate bancarie
      </span>
      <br class="viaggio-text07" />
      <span><span [innerHTML]="rawhr9g"></span></span>
    </h2>
    <button class="viaggio-button Content">Scopri Coordinate bancarie</button>
  </div>
  <div class="viaggio-container08"></div>
  <div class="viaggio-footer">
    <div class="viaggio-container09">
      <div class="viaggio-container10"></div>
      <div class="viaggio-container11">
        <h1 class="viaggio-logo2">Contatti</h1>
      </div>
      <div class="viaggio-container12"></div>
      <div class="viaggio-container13">
        <div class="viaggio-container14">
          <div class="viaggio-container15">
            <span class="viaggio-text09">
              <span>Manuel De Moro</span>
              <br />
            </span>
          </div>
          <div class="viaggio-container16"></div>
          <div class="viaggio-container17">
            <span class="viaggio-text12">
              <span>Emanuela Mignone</span>
              <br />
            </span>
          </div>
        </div>
        <div class="viaggio-container18">
          <div class="viaggio-container19">
            <span class="viaggio-text15">
              <span>email: maueldm91@gmail.com</span>
              <br />
              <span>tel: +393400943500</span>
              <br />
            </span>
          </div>
          <div class="viaggio-container20"></div>
          <div class="viaggio-container21">
            <span class="viaggio-text20">
              <span>email: emamignone90@gmail.com</span>
              <br />
              <span>tel: +393490920296</span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="viaggio-container22">
      <div class="viaggio-container23">
        <div class="viaggio-container24">
          <h1 class="viaggio-logo3">Contatti</h1>
        </div>
        <div class="viaggio-container25">
          <div class="viaggio-container26">
            <div class="viaggio-container27">
              <div class="viaggio-container28">
                <span class="viaggio-text25">
                  <span>Manuel De Moro</span>
                  <br />
                </span>
              </div>
              <div class="viaggio-container29"></div>
              <div class="viaggio-container30">
                <span class="viaggio-text28">
                  <span>email: maueldm91@gmail.com</span>
                  <br />
                  <span>tel: +393400943500</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="viaggio-container31">
              <div class="viaggio-container32">
                <span class="viaggio-text33">
                  <span>Emanuela Mignone</span>
                  <br />
                </span>
              </div>
              <div class="viaggio-container33"></div>
              <div class="viaggio-container34">
                <span class="viaggio-text36">
                  <span>email: emamignone90@gmail.com</span>
                  <br />
                  <span>tel: +393490920296</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="viaggio-container35">
      <div class="viaggio-container36">
        <div class="viaggio-container37">
          <h1 class="viaggio-logo4">Contatti</h1>
        </div>
        <div class="viaggio-container38">
          <div class="viaggio-container39">
            <div class="viaggio-container40">
              <div class="viaggio-container41">
                <span class="viaggio-text41">
                  <span>Manuel De Moro</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="viaggio-container42">
              <div class="viaggio-container43">
                <span class="viaggio-text44">
                  <span>email: maueldm91@gmail.com</span>
                  <br />
                  <span>tel: +393400943500</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="viaggio-container44">
              <div class="viaggio-container45">
                <span class="viaggio-text49">
                  <span>Emanuela Mignone</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="viaggio-container46">
              <div class="viaggio-container47">
                <span class="viaggio-text52">
                  <span>email: emamignone90@gmail.com</span>
                  <br />
                  <span>tel: +393490920296</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
