<div class="viaggio-container">

  <nav id="headertab" class="navbar navbar-expand-lg navbar-dark bg-dark viaggio-navbar">
    <div class="container-fluid">
      <h1 class="viaggio-logo">Regalaci un viaggio</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon size-button"></span>
      </button>
      <div class="collapse navbar-collapse all-right" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 no-margin-right">
          <li class="nav-item">
            <a class="nav-link active viaggio-link" routerLink="/" aria-current="page">Home page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active viaggio-link" (click)="scroll(itnierario)" aria-current="page">Itinerario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active viaggio-link" (click)="scroll(sezioneregalo)" aria-current="page">Sezione Regalo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="viaggio-hero">
    <div class="viaggio-container05">
      <span class="viaggio-text03">Destinazione Giappone</span>
      <h1 class="viaggio-text04">Regalaci il viaggio dei nostri sogni!</h1>
    </div>
  </div>
  <div #itnierario id="itnierario" class="row"><h1 class="itinerariotitle">Itinerario</h1></div>
  <div class="viaggio-blog">
      <blog-post-card4
        date="Tokyo"
        label="La grande metropoli"
        image_src="https://images.unsplash.com/photo-1584660470766-20ac1a28c7fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI5fHx0b2t5b3xlbnwwfHx8fDE2NzUxMjIzNjc&amp;ixlib=rb-4.0.3&amp;w=1500"
        description="Tokyo è una metropoli affascinante e vivace, sarà la prima tappa del nostro viaggio! Vogliamo assolutamente visitare il quartiere di Shibuya, Il Tempio di Asakusa, la torre Tokyo Skytree e il Museo Nazionale! Per non parlare poi delle deliziose botteghe storiche situate tra le vie di Tokyo. Speriamo inoltre di poter fare una bella scorta di gadget e souvenir a tema manga, che dite, le nostre valigie saranno abbastanza capienti?"
        rootClassName="rootClassName1"
      ></blog-post-card4>
      <div class="viaggio-container06">
        <blog-post-card4
          date="Kyoto"
          label="Un tuffo nella tardizione"
          image_src="https://images.unsplash.com/photo-1624253346805-df69ad2b3d7f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fGt5b3RvfGVufDB8fHx8MTY3NTEyMjQxNg&amp;ixlib=rb-4.0.3&amp;w=1500"
          description="Kyoto è una delle città più famose e belle del Giappone, ricca di storia, cultura e tradizioni. Ospita ben 2000 templi e santuari oltre che il Palazzo Imperiale,  antica residenza degli imperatori giapponesi, oggi aperta al pubblico come museo. Immancabile poi da visitare anche Gion,  il quartiere geisha di Kyoto, famoso per le sue strade storiche, i negozi tradizionali e gli spettacoli di geisha e maiko. Queste sono solo alcune delle principali attrazioni di Kyoto che vorremmo vedere: la città è così ricca di meraviglie che una sola visita non basterà per scoprirle tutte, ma cercheremo di impegnarci!"
          rootClassName="rootClassName2"
        ></blog-post-card4>
        <blog-post-card4
          date="Okinawa"
          image_src="https://images.unsplash.com/photo-1609673889466-61145b2084f3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDZ8fG9raW5hd2F8ZW58MHx8fHwxNjc1MTIyNDQ2&amp;ixlib=rb-4.0.3&amp;w=1500"
          description="Okinawa è una bellissima prefettura giapponese situata nell&apos;estremo sud del paese, composta da molte isole e arcipelaghi. Sicuramente avrai già sentito parlare delle sue famose spiagge di sabbia bianca  e acque cristalline! Per non parlare poi del Shuri Castle: situato nella città di Naha, e delle Isole Kerama: un arcipelago a sud-ovest di Okinawa. Questa regione del Giappone offre una vasta gamma di attrazioni naturali, culturali e storiche, sicuramente sarà una tappa fondamentale del nostro tour!"
          label="Spiagge stellate"
          rootClassName="Spiagge stellate"
        ></blog-post-card4>
      </div>
      <blog-post-card4
        date="Osaka"
        image_src="https://images.unsplash.com/photo-1590559899731-a382839e5549?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fG9zYWthfGVufDB8fHx8MTY3NTEyMjQzMg&amp;ixlib=rb-4.0.3&amp;w=1500"
        description="Osaka sarà senza alcun dubbio la meta culinaria del nostro tour giapponese: oltre che per le sue bellissime architetture è celebre infatti per la sua cucina e i suoi ristoranti! Infatti andremo sicuramente a visitare il quartiere di Shinsekai: una zona tradizionale di Osaka, famoso per i suoi ristoranti che offrono specialità locali come takoyaki, okonomiyaki e kushikatsu. Faremo senz&apos;altro un salto anche al Tempio di Shitennoji e al tempio di Sumiyoshi Taisha, monumenti storici di questa fantastica città.  Torneremo da Osaka soddisfatti e con la pancia piena? Noi crediamo di sì!"
        label="Oknomiyaki!"
        rootClassName="Oknomiyaki!"
      ></blog-post-card4>
  </div>
  <div class="viaggio-container07"></div>
  <div #sezioneregalo id="sezioneregalo" class="viaggio-container08">
    <div class="viaggio-banner">
      <h2 class="viaggio-text05">
        <span>
          Premi il pulsante sotto per visualizzare in chiaro le
          coordinate bancarie
        </span>
        <br class="viaggio-text07" />
        <span><span [innerHTML]="rawop04"></span></span>
      </h2>
      <button *ngIf="!iban" (click)="showIban()" class="viaggio-button Content">Scopri Coordinate bancarie</button>
      <div *ngIf="iban" class="viaggio-button Content">IBAN: IT79E0503401416000000000944</div>
      <div *ngIf="iban" class="viaggio-button Content">Causale: Regalo Nozze</div>
    </div>
  </div>
  <div class="viaggio-container09"></div>
  <div class="viaggio-footer">
    <div class="viaggio-container10">
      <div class="viaggio-container11"></div>
      <div class="viaggio-container12">
        <h1 class="viaggio-logo2">Contatti</h1>
      </div>
      <div class="viaggio-container13"></div>
      <div class="viaggio-container14">
        <div class="viaggio-container15">
          <div class="viaggio-container16">
            <span class="viaggio-text09">
              <span>Manuel De Moro</span>
              <br />
            </span>
          </div>
          <div class="viaggio-container17"></div>
          <div class="viaggio-container18">
            <span class="viaggio-text12">
              <span>Emanuela Mignone</span>
              <br />
            </span>
          </div>
        </div>
        <div class="viaggio-container19">
          <div class="viaggio-container20">
            <span class="viaggio-text15">
              <span>email: maueldm91@gmail.com</span>
              <br />
              <span>tel: +393400943500</span>
              <br />
            </span>
          </div>
          <div class="viaggio-container21"></div>
          <div class="viaggio-container22">
            <span class="viaggio-text20">
              <span>email: emamignone90@gmail.com</span>
              <br />
              <span>tel: +393490920296</span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="viaggio-container23">
      <div class="viaggio-container24">
        <div class="viaggio-container25">
          <h1 class="viaggio-logo3">Contatti</h1>
        </div>
        <div class="viaggio-container26">
          <div class="viaggio-container27">
            <div class="viaggio-container28">
              <div class="viaggio-container29">
                <span class="viaggio-text25">
                  <span>Manuel De Moro</span>
                  <br />
                </span>
              </div>
              <div class="viaggio-container30"></div>
              <div class="viaggio-container31">
                <span class="viaggio-text28">
                  <span>email: maueldm91@gmail.com</span>
                  <br />
                  <span>tel: +393400943500</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="viaggio-container32">
              <div class="viaggio-container33">
                <span class="viaggio-text33">
                  <span>Emanuela Mignone</span>
                  <br />
                </span>
              </div>
              <div class="viaggio-container34"></div>
              <div class="viaggio-container35">
                <span class="viaggio-text36">
                  <span>email: emamignone90@gmail.com</span>
                  <br />
                  <span>tel: +393490920296</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="viaggio-container36">
      <div class="viaggio-container37">
        <div class="viaggio-container38">
          <h1 class="viaggio-logo4">Contatti</h1>
        </div>
        <div class="viaggio-container39">
          <div class="viaggio-container40">
            <div class="viaggio-container41">
              <div class="viaggio-container42">
                <span class="viaggio-text41">
                  <span>Manuel De Moro</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="viaggio-container43">
              <div class="viaggio-container44">
                <span class="viaggio-text44">
                  <span>email: maueldm91@gmail.com</span>
                  <br />
                  <span>tel: +393400943500</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="viaggio-container45">
              <div class="viaggio-container46">
                <span class="viaggio-text49">
                  <span>Emanuela Mignone</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="viaggio-container47">
              <div class="viaggio-container48">
                <span class="viaggio-text52">
                  <span>email: emamignone90@gmail.com</span>
                  <br />
                  <span>tel: +393490920296</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
