.header-main{
    background-image: url("/assets/images/texture2.jpg");
    height: 200px;
    position: fixed;
    width: 100%
}

.header-main-text{
    font-family: ringbearer;
    font-size: 6.5em;
    font-weight: 200;
    color: white;
    padding-top: 20px;
}