<div class="landing-page-container Content">
  <div class="landing-page-top-container">
    <nav data-role="Header" class="landing-page-navbar">
      <div class="landing-page-container001">
        <div class="landing-page-container002">
          <h1 class="landing-page-logo">Il matrimonio di Emanuela e Manuel</h1>
        </div>
      </div>
      <div class="landing-page-container003"></div>
      <div class="landing-page-container004">
        <div class="landing-page-right-side">
          <div class="landing-page-links-container">
            <a href="#agenda" class="landing-page-link">
              Agenda dell&apos;evento
            </a>
            <a href="#oraeluogo" class="landing-page-link1">Ora e Luogo</a>
            <a href="#rsvp" class="landing-page-link2">RSVP</a>
            <a href="#viaggio" class="landing-page-link3">
              Regalaci un viaggio
            </a>
          </div>
        </div>
      </div>
      <div class="landing-page-container005">
        <div data-role="BurgerMenu" class="landing-page-burger-menu">
          <svg viewBox="0 0 1024 1024" class="landing-page-burger-menu">
            <path
              d="M810.667 725.333h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
            ></path>
            <path
              d="M810.667 426.667h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
            ></path>
            <path
              d="M810.667 128h-597.333c-47.061 0-85.333 38.272-85.333 85.333s38.272 85.333 85.333 85.333h597.333c47.061 0 85.333-38.272 85.333-85.333s-38.272-85.333-85.333-85.333z"
            ></path>
          </svg>
        </div>
      </div>
      <div data-role="MobileMenu" class="landing-page-mobile-menu">
        <div class="landing-page-nav">
          <div class="landing-page-top">
            <h1 class="landing-page-logo1">
              Il matrimonio di Emanuela e Manuel
            </h1>
            <div data-role="CloseMobileMenu" class="landing-page-close-menu">
              <svg viewBox="0 0 1024 1024" class="landing-page-icon3">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="landing-page-right-side1">
            <div class="landing-page-links-container1">
              <span class="landing-page-text">Agenda dell&apos;evento</span>
              <span class="landing-page-text01">Ora e Luogo</span>
              <span class="landing-page-text02">RSVP</span>
              <span class="landing-page-text03">Regalaci un viaggio</span>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="landing-page-hero">
      <div class="landing-page-content-container">
        <span class="landing-page-text04">Alla fine ci sposiamo!</span>
        <span class="landing-page-text05">Emanuela e Manuel</span>
        <span class="landing-page-text06">24.06.2023</span>
      </div>
    </div>
  </div>
  <div id="main-section" class="landing-page-main">
    <h1 class="landing-page-text07">Agenda dell&apos;evento</h1>
    <div id="agenda" class="landing-page-agenda">
      <div class="landing-page-container006">
        <div class="landing-page-container007"></div>
        <div class="landing-page-container008">
          <div class="landing-page-blog-post-card">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1606800052052-a08af7148866?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fHdlZGRpbmd8ZW58MHx8fHwxNjc0NDM4ODQ1&amp;ixlib=rb-4.0.3&amp;w=700"
              image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
              class="landing-page-image"
            />
            <div class="landing-page-container009">
              <h1 class="landing-page-text08">Apriamo con la cerimonia</h1>
              <span class="landing-page-text09">
                Rito civile alle ore 17.30 presso l’incantevole giardino del
                Convento di San Francesco. Siamo molto felici di poter celebrare
                questa tappa importante della nostra vita insieme a tutti voi!
                <span [innerHTML]="rawzfh3"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="landing-page-container010"></div>
        <div class="landing-page-container011">
          <div class="landing-page-blog-post-card1">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1562050344-f7ad946cee35?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxkaW5uZXJ8ZW58MHx8fHwxNjc0NDM5NTMw&amp;ixlib=rb-4.0.3&amp;w=700"
              image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
              class="landing-page-image1"
            />
            <div class="landing-page-container012">
              <h1 class="landing-page-text10">
                Cena perché magari avete ancora fame
              </h1>
              <span class="landing-page-text11">
                È arrivato il momento di sedersi a tavola. Alle ore 20.30 avrete
                l’opportunità di fare una bellissima cena vista mare.
                <span [innerHTML]="rawucpn"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="landing-page-container013">
        <div class="landing-page-line"></div>
        <div class="landing-page-container014"></div>
        <div class="landing-page-line1"></div>
        <div class="landing-page-container015"></div>
        <div class="landing-page-line2"></div>
        <div class="landing-page-container016"></div>
        <div class="landing-page-line3"></div>
        <div class="landing-page-container017"></div>
        <div class="landing-page-line4"></div>
      </div>
      <div class="landing-page-container018">
        <div class="landing-page-container019"></div>
        <div class="landing-page-container020">
          <div class="landing-page-blog-post-card2">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1641858794208-67c73cc59351?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDY3fHxtZWRpZXZhbCUyMGJ1ZmZldHxlbnwwfHx8fDE2Nzk4NTA2NTM&amp;ixlib=rb-4.0.3&amp;w=700"
              image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
              class="landing-page-image2"
            />
            <div class="landing-page-container021">
              <h1 class="landing-page-text12">
                Aperitivo e buffet fino a scoppiare!
              </h1>
              <span class="landing-page-text13">
                Un matrimonio non è un matrimonio senza un buon buffet! A
                seguire, dopo la cerimonia, potrete rinfrescarvi (e saziarvi)
                con le prelibatezze del buffet di O’Vittorio!
                <span [innerHTML]="raweub5"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="landing-page-container022"></div>
        <div class="landing-page-container023">
          <div class="landing-page-blog-post-card3">
            <img
              alt="image"
              src="https://images.unsplash.com/photo-1614703556146-b426ea85a33d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxkaXNjb3xlbnwwfHx8fDE2NzQ0Mzk3MjI&amp;ixlib=rb-4.0.3&amp;w=700"
              image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
              class="landing-page-image3"
            />
            <div class="landing-page-container024">
              <h1 class="landing-page-text14">E alla fine si balla!</h1>
              <span class="landing-page-text15">
                Per concludere in bellezza questa fantastica giornata, dj set a
                partire dalle 22.30
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="agendamobile" class="landing-page-agenda-mobile">
      <div class="landing-page-container025">
        <div class="landing-page-container026">
          <div class="landing-page-blog-post-card4">
            <div class="landing-page-container027">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1606800052052-a08af7148866?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fHdlZGRpbmd8ZW58MHx8fHwxNjc0NDM4ODQ1&amp;ixlib=rb-4.0.3&amp;w=1400"
                image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
                class="landing-page-image4"
              />
            </div>
            <div class="landing-page-container028">
              <h1 class="landing-page-text16">Apriamo con la cerimonia</h1>
              <span class="landing-page-text17">
                Rito civile alle ore 17.30 presso l’incantevole giardino del
                Convento di San Francesco. Siamo molto felici di poter celebrare
                questa tappa importante della nostra vita insieme a tutti voi!
                <span [innerHTML]="rawo3tf"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="landing-page-container029"></div>
        <div class="landing-page-container030">
          <div class="landing-page-blog-post-card5">
            <div class="landing-page-container031">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1562050344-f7ad946cee35?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxkaW5uZXJ8ZW58MHx8fHwxNjc0NDM5NTMw&amp;ixlib=rb-4.0.3&amp;w=1400"
                image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
                class="landing-page-image5"
              />
            </div>
            <div class="landing-page-container032">
              <h1 class="landing-page-text18">
                Cena perché magari avete ancora fame
              </h1>
              <span class="landing-page-text19">
                È arrivato il momento di sedersi a tavola. Alle ore 20.30 avrete
                l’opportunità di fare una bellissima cena vista mare.
                <span [innerHTML]="rawgd6a"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="landing-page-container033"></div>
        <div class="landing-page-container034">
          <div class="landing-page-blog-post-card6">
            <div class="landing-page-container035">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1641858794208-67c73cc59351?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDY3fHxtZWRpZXZhbCUyMGJ1ZmZldHxlbnwwfHx8fDE2Nzk4NTA2NTM&amp;ixlib=rb-4.0.3&amp;w=1400"
                image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
                class="landing-page-image6"
              />
            </div>
            <div class="landing-page-container036">
              <h1 class="landing-page-text20">
                Aperitivo e buffet fino a scoppiare!
              </h1>
              <span class="landing-page-text21">
                Un matrimonio non è un matrimonio senza un buon buffet! A
                seguire, dopo la cerimonia, potrete rinfrescarvi (e saziarvi)
                con le prelibatezze del buffet di O’Vittorio!
                <span [innerHTML]="rawx0mo"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="landing-page-container037"></div>
        <div class="landing-page-container038">
          <div class="landing-page-blog-post-card7">
            <div class="landing-page-container039">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1614703556146-b426ea85a33d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxkaXNjb3xlbnwwfHx8fDE2NzQ0Mzk3MjI&amp;ixlib=rb-4.0.3&amp;w=1400"
                image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
                class="landing-page-image7"
              />
            </div>
            <div class="landing-page-container040">
              <h1 class="landing-page-text22">E alla fine si balla!</h1>
              <span class="landing-page-text23">
                Per concludere in bellezza questa fantastica giornata, dj set a
                partire dalle 22.30
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page-container041"></div>
    <div id="oraeluogo" class="landing-page-ora-e-luogo">
      <h1 class="landing-page-text24">Luogo e ora</h1>
      <span class="landing-page-text25">
        <br />
        <span>
          Ci vediamo bla bla bla a Recco bla bla Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Sed non volutpat turpis. Mauris luctus
          rutrum mi ut rhoncus. Integer in dignissim tortor. Lorem ipsum dolor
          sit amet, consectetur adipiscing ...
        </span>
      </span>
      <div class="landing-page-btn-group">
        <a
          href="https://www.google.it/maps/place/Convento+S.+Francesco/@44.3594797,9.1439736,19z/data=!3m1!4b1!4m5!3m4!1s0x12d35e4ce812ceaf:0x6c0260ef692963d9!8m2!3d44.359461!4d9.1439225"
          target="_blank"
          rel="noreferrer noopener"
          class="landing-page-link4"
        >
          Come ci arrivo?
        </a>
      </div>
    </div>
    <div class="landing-page-container042"></div>
    <div id="rsvp" class="landing-page-rsvp">
      <div class="landing-page-container043">
        <div class="landing-page-container044">
          <span class="landing-page-text28">Répondez s&apos;il vous plaît</span>
        </div>
      </div>
      <div class="landing-page-container045">
        <div class="landing-page-container046">
          <form method="POST" class="landing-page-form">
            <div class="landing-page-container047">
              <div class="landing-page-container048">
                <label class="landing-page-text29">
                  Parteciperai a questo fantastico evento? 
                </label>
              </div>
              <div class="landing-page-container049">
                <label class="landing-page-text30">Sì</label>
                <input type="radio" name="radio" />
                <label class="landing-page-text31">No</label>
                <input type="radio" name="radio" />
              </div>
            </div>
            <div class="landing-page-container050">
              <div class="landing-page-container051">
                <label class="landing-page-text32">Chi sei? </label>
              </div>
              <div class="landing-page-container052">
                <input
                  type="text"
                  placeholder="Nome  e Cognome"
                  class="landing-page-textinput Content"
                />
              </div>
            </div>
            <div class="landing-page-container053">
              <div class="landing-page-container054">
                <label class="landing-page-text33">
                  Porti qualcuno con te? 
                </label>
              </div>
              <div class="landing-page-container055">
                <input
                  type="text"
                  placeholder="Nome e Cognome del +1"
                  class="landing-page-textinput1 Content"
                />
              </div>
            </div>
            <div class="landing-page-container056">
              <div class="landing-page-container057">
                <label class="landing-page-text34">
                  Hai intolleranze o allergie alimentari?
                </label>
              </div>
              <div class="landing-page-container058">
                <textarea
                  placeholder="Nessuna, allergico ai crostacei etc."
                  class="landing-page-textarea Content"
                ></textarea>
              </div>
            </div>
            <div class="landing-page-container059">
              <div class="landing-page-container060">
                <label class="landing-page-text35">
                  Sei interessato al servizio navetta?
                </label>
              </div>
              <div class="landing-page-container061">
                <label class="landing-page-text36">Sì</label>
                <input type="radio" name="radio" />
                <label class="landing-page-text37">No</label>
                <input type="radio" name="radio" />
              </div>
            </div>
            <div class="landing-page-container062">
              <div class="landing-page-container063">
                <label class="landing-page-text38">
                  Se vuoi lasciaci un messaggio!
                </label>
              </div>
              <div class="landing-page-container064">
                <textarea
                  placeholder="Il matrmionio è la tomba dell'amore e non esistono più le mezze stagioni"
                  class="landing-page-textarea1 Content"
                ></textarea>
              </div>
            </div>
            <div class="landing-page-container065">
              <div class="landing-page-container066">
                <button class="landing-page-button button">Conferma</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="landing-page-container067"></div>
    <div id="viaggio" class="landing-page-viaggio">
      <div class="landing-page-hero1">
        <div class="landing-page-container068">
          <h1 class="landing-page-text39">Regalaci un Viaggio</h1>
          <span class="landing-page-text40">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              volutpat turpis.
              <span [innerHTML]="rawvsbx"></span>
            </span>
            <span><span [innerHTML]="raw3ahp"></span></span>
            <span>
              Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              <span [innerHTML]="raw3r01"></span>
            </span>
            <span><span [innerHTML]="rawa2vu"></span></span>
          </span>
          <a routerLink="/viaggio" class="landing-page-navlink Button">
            Vai alla pagina
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page-footer">
    <div class="landing-page-container069">
      <div class="landing-page-container070"></div>
      <div class="landing-page-container071">
        <h1 class="landing-page-logo2">Contatti</h1>
      </div>
      <div class="landing-page-container072"></div>
      <div class="landing-page-container073">
        <div class="landing-page-container074">
          <div class="landing-page-container075">
            <span class="landing-page-text45">
              <span>Manuel De Moro</span>
              <br />
            </span>
          </div>
          <div class="landing-page-container076"></div>
          <div class="landing-page-container077">
            <span class="landing-page-text48">
              <span>Emanuela Mignone</span>
              <br />
            </span>
          </div>
        </div>
        <div class="landing-page-container078">
          <div class="landing-page-container079">
            <span class="landing-page-text51">
              <span>email: maueldm91@gmail.com</span>
              <br />
              <span>tel: +393400943500</span>
              <br />
            </span>
          </div>
          <div class="landing-page-container080"></div>
          <div class="landing-page-container081">
            <span class="landing-page-text56">
              <span>email: emamignone90@gmail.com</span>
              <br />
              <span>tel: +393490920296</span>
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page-container082">
      <div class="landing-page-container083">
        <div class="landing-page-container084">
          <h1 class="landing-page-logo3">Contatti</h1>
        </div>
        <div class="landing-page-container085">
          <div class="landing-page-container086">
            <div class="landing-page-container087">
              <div class="landing-page-container088">
                <span class="landing-page-text61">
                  <span>Manuel De Moro</span>
                  <br />
                </span>
              </div>
              <div class="landing-page-container089"></div>
              <div class="landing-page-container090">
                <span class="landing-page-text64">
                  <span>email: maueldm91@gmail.com</span>
                  <br />
                  <span>tel: +393400943500</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="landing-page-container091">
              <div class="landing-page-container092">
                <span class="landing-page-text69">
                  <span>Emanuela Mignone</span>
                  <br />
                </span>
              </div>
              <div class="landing-page-container093"></div>
              <div class="landing-page-container094">
                <span class="landing-page-text72">
                  <span>email: emamignone90@gmail.com</span>
                  <br />
                  <span>tel: +393490920296</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page-container095">
      <div class="landing-page-container096">
        <div class="landing-page-container097">
          <h1 class="landing-page-logo4">Contatti</h1>
        </div>
        <div class="landing-page-container098">
          <div class="landing-page-container099">
            <div class="landing-page-container100">
              <div class="landing-page-container101">
                <span class="landing-page-text77">
                  <span>Manuel De Moro</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="landing-page-container102">
              <div class="landing-page-container103">
                <span class="landing-page-text80">
                  <span>email: maueldm91@gmail.com</span>
                  <br />
                  <span>tel: +393400943500</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="landing-page-container104">
              <div class="landing-page-container105">
                <span class="landing-page-text85">
                  <span>Emanuela Mignone</span>
                  <br />
                </span>
              </div>
            </div>
            <div class="landing-page-container106">
              <div class="landing-page-container107">
                <span class="landing-page-text88">
                  <span>email: emamignone90@gmail.com</span>
                  <br />
                  <span>tel: +393490920296</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
