:host { 
  display: contents; 
}
.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-top-container {
  width: 100%;
  height: 1472px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/assets/playground_assets/img_1562_bis-1500h.jpg");
  background-position: top;
}
.landing-page-navbar {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: fixed;
  flex-wrap: wrap;
  max-width: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-primary-darktheme);
}
.landing-page-container001 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container002 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.landing-page-logo {
  color: var(--dl-color-primary-sfondomorbido);
  width: 100%;
  font-size: 2.8rem;
}
.landing-page-container003 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container004 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.landing-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link {
  color: var(--dl-color-primary-sfondomorbido);
  font-size: 2rem;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link1 {
  color: var(--dl-color-primary-sfondomorbido);
  font-size: 2rem;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link2 {
  color: var(--dl-color-primary-sfondomorbido);
  font-size: 2rem;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-link3 {
  color: var(--dl-color-primary-sfondomorbido);
  font-size: 2rem;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-container005 {
  flex: 0 0 auto;
  width: 200px;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-burger-menu {
  width: 24px;
  height: 24px;
}
.landing-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.landing-page-nav {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-icon3 {
  width: 24px;
  height: 24px;
}
.landing-page-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-links-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text {
  margin-bottom: 8px;
}
.landing-page-text01 {
  margin-bottom: 8px;
}
.landing-page-text02 {
  margin-bottom: 8px;
}
.landing-page-hero {
  width: 90%;
  height: 70%;
  display: flex;
  max-width: auto;
  align-self: center;
  padding-top: 77px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.landing-page-content-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text04 {
  font-size: 2.2em;
}
.landing-page-text05 {
  font-size: 4.5em;
}
.landing-page-text06 {
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-sfondomorbido);
}
.landing-page-text07 {
  color: var(--dl-color-primary-darktheme);
  font-size: 3.5em;
}
.landing-page-agenda {
  width: 100%;
  height: 2139px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.landing-page-container006 {
  flex: 0 0 auto;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: var(--dl-space-space-quadruple);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f8fbfb;
}
.landing-page-container007 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 13%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-container008 {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-blog-post-card {
  width: 100%;
  height: 100%;
  display: flex;
  
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  padding-top: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-blog-post-card:hover {
  transform: scale(1.02);
}
.landing-page-image {
  width: 320px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.landing-page-container009 {
  width: 100%;
  display: flex;
  padding: 1.5em;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text08 {
  color: var(--dl-color-primary-darktheme);
  font-size: 1.6rem;
}
.landing-page-text09 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
}
.landing-page-container010 {
  width: 100%;
  height: 29%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-container011 {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-blog-post-card1 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  padding-top: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-blog-post-card1:hover {
  transform: scale(1.02);
}
.landing-page-image1 {
  width: 320px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.landing-page-container012 {
  width: 100%;
  display: flex;
  padding: 1.5em;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text10 {
  color: var(--dl-color-primary-darktheme);
  font-size: 1.6rem;
}
.landing-page-text11 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
}
.landing-page-container013 {
  flex: 0 0 auto;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #9c9c9c;
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  background-color: #f8fbfb;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.landing-page-line {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: #130816;
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
.landing-page-container014 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-darktheme);
}
.landing-page-line1 {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primary-darktheme);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
.landing-page-container015 {
  flex: 0 0 auto;
  width: 3rem;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 3rem;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-darktheme);
}
.landing-page-line2 {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primary-darktheme);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
.landing-page-container016 {
  flex: 0 0 auto;
  width: 3rem;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 3rem;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-darktheme);
}
.landing-page-line3 {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primary-darktheme);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
.landing-page-container017 {
  flex: 0 0 auto;
  width: 3rem;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 3rem;
  display: flex;
  align-self: center;
  align-items: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-darktheme);
}
.landing-page-line4 {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primary-darktheme);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
.landing-page-container018 {
  flex: 0 0 auto;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 2px;
  padding-right: var(--dl-space-space-quadruple);
  flex-direction: column;
  background-color: #f8fbfb;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.landing-page-container019 {
  width: 100%;
  height: 34%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-container020 {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-blog-post-card2 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-blog-post-card2:hover {
  transform: scale(1.02);
}
.landing-page-image2 {
  width: 320px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.landing-page-container021 {
  width: 100%;
  display: flex;
  padding: 1.5em;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text12 {
  color: var(--dl-color-primary-darktheme);
  font-size: 1.6rem;
}
.landing-page-text13 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
}
.landing-page-container022 {
  width: 100%;
  height: 29%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-container023 {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-blog-post-card3 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  padding-top: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-blog-post-card3:hover {
  transform: scale(1.02);
}
.landing-page-image3 {
  width: 320px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.landing-page-container024 {
  width: 100%;
  display: flex;
  padding: 1.5em;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text14 {
  color: var(--dl-color-primary-darktheme);
  font-size: 1.6rem;
}
.landing-page-text15 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
}
.landing-page-agenda-mobile {
  width: 100%;
  height: 2139px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
}
.landing-page-container025 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f8fbfb;
}
.landing-page-container026 {
  width: 100%;
  height: 24%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-blog-post-card4 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  padding-top: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-blog-post-card4:hover {
  transform: scale(1.02);
}
.landing-page-container027 {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-image4 {
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.landing-page-container028 {
  height: 30%;
  display: flex;
  padding: 1em;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text16 {
  color: var(--dl-color-primary-darktheme);
  font-size: 1.6rem;
}
.landing-page-text17 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
}
.landing-page-container029 {
  width: 100%;
  height: 1%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-container030 {
  width: 100%;
  height: 24%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-blog-post-card5 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  padding-top: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-blog-post-card5:hover {
  transform: scale(1.02);
}
.landing-page-container031 {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-image5 {
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.landing-page-container032 {
  height: 30%;
  display: flex;
  padding: 1em;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text18 {
  color: var(--dl-color-primary-darktheme);
  font-size: 1.6rem;
}
.landing-page-text19 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
}
.landing-page-container033 {
  width: 100%;
  height: 1%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-container034 {
  width: 100%;
  height: 24%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-blog-post-card6 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-blog-post-card6:hover {
  transform: scale(1.02);
}
.landing-page-container035 {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-image6 {
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.landing-page-container036 {
  height: 30%;
  display: flex;
  padding: 1em;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text20 {
  color: var(--dl-color-primary-darktheme);
  font-size: 1.6rem;
}
.landing-page-text21 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
}
.landing-page-container037 {
  width: 100%;
  height: 1%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-container038 {
  width: 100%;
  height: 24%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-blog-post-card7 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  padding-top: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-blog-post-card7:hover {
  transform: scale(1.02);
}
.landing-page-container039 {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  border-style: dashed;
  border-width: 0px;
  background-color: #f8fbfb;
}
.landing-page-image7 {
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.landing-page-container040 {
  height: 30%;
  display: flex;
  padding: 1em;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text22 {
  color: var(--dl-color-primary-darktheme);
  font-size: 1.6rem;
}
.landing-page-text23 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
}
.landing-page-container041 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.landing-page-ora-e-luogo {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(225deg, rgb(47, 45, 55) 0.00%,rgba(89, 149, 198, 0.31) 51.00%),url("/assets/playground_assets/img_1564-1500h.jpg");
  background-position: top left,center;
}
.landing-page-text24 {
  color: var(--dl-color-gray-white);
  font-size: 3.5rem;
}
.landing-page-text25 {
  color: var(--dl-color-gray-white);
  width: 70%;
  font-size: 1.5rem;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.landing-page-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.landing-page-link4 {
  color: var(--dl-color-primary-darktheme);
  font-size: 16px;
  transition: 0.3s;
  font-family: Bilbo Swash Caps;
  font-weight: 400;
  line-height: 1.55;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-primary-sfondomorbido);
}
.landing-page-container042 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.landing-page-rsvp {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.landing-page-container043 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.landing-page-container044 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.landing-page-text28 {
  color: var(--dl-color-primary-darktheme);
  width: auto;
  font-size: 2em;
  align-self: center;
  font-style: normal;
  font-weight: 500;
}
.landing-page-container045 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.landing-page-container046 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.landing-page-form {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-container047 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.landing-page-container048 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text29 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-container049 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.landing-page-text30 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-text31 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-container050 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-wrap: wrap;
  max-width: auto;
  align-items: center;
  justify-content: center;
}
.landing-page-container051 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.landing-page-text32 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-container052 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-textinput {
  width: 70%;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.landing-page-container053 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.landing-page-container054 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text33 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-container055 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-textinput1 {
  width: 70%;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.landing-page-container056 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.landing-page-container057 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text34 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-container058 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-textarea {
  width: 70%;
  height: 5em;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.landing-page-container059 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.landing-page-container060 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text35 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-container061 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.landing-page-text36 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-text37 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-container062 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.landing-page-container063 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-text38 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.landing-page-container064 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-textarea1 {
  width: 70%;
  height: 10em;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.landing-page-container065 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.landing-page-container066 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-button {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-darktheme);
}
.landing-page-container067 {
  width: 100%;
  height: 155px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.landing-page-viaggio {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.landing-page-hero1 {
  width: 100%;
  height: 532px;
  display: flex;
  padding: 48px;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url('https://images.unsplash.com/photo-1490806843957-31f4c9a91c65?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGZ1aml8ZW58MHx8fHwxNjc0NDQyNjQx&ixlib=rb-4.0.3&w=1500');
  background-repeat: repeat;
  background-position: bottom;
}
.landing-page-container068 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.landing-page-text39 {
  width: 50%;
  font-size: 3rem;
  max-width: auto;
  align-self: flex-start;
}
.landing-page-text40 {
  font-size: 1.3rem;
  max-width: 60%;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-navlink {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  line-height: 1.55;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-darktheme);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 386px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.landing-page-container069 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.landing-page-container070 {
  flex: 0 0 auto;
  width: 25%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container071 {
  flex: 0 0 auto;
  width: 20%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-logo2 {
  height: 100%;
}
.landing-page-container072 {
  flex: 0 0 auto;
  width: 10%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container073 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container074 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.landing-page-container075 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text45 {
  width: 100%;
  font-size: 20px;
}
.landing-page-container076 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container077 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text48 {
  width: 100%;
  font-size: 20px;
}
.landing-page-container078 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
}
.landing-page-container079 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text51 {
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
}
.landing-page-container080 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container081 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text56 {
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
}
.landing-page-container082 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: flex-start;
}
.landing-page-container083 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-container084 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.landing-page-logo3 {
  height: 100%;
}
.landing-page-container085 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.landing-page-container086 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container087 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.landing-page-container088 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text61 {
  width: 100%;
  font-size: 20px;
}
.landing-page-container089 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container090 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text64 {
  width: 100%;
}
.landing-page-container091 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.landing-page-container092 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text69 {
  width: 100%;
  font-size: 20px;
}
.landing-page-container093 {
  flex: 0 0 auto;
  width: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container094 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text72 {
  width: 100%;
}
.landing-page-container095 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: flex-start;
}
.landing-page-container096 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-page-container097 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.landing-page-logo4 {
  height: 100%;
}
.landing-page-container098 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.landing-page-container099 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-container100 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.landing-page-container101 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text77 {
  width: 100%;
  font-size: 20px;
}
.landing-page-container102 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.landing-page-container103 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text80 {
  width: 100%;
}
.landing-page-container104 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.landing-page-container105 {
  flex: 0 0 auto;
  width: 47.5%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text85 {
  width: 100%;
  font-size: 20px;
}
.landing-page-container106 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.landing-page-container107 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text88 {
  width: 100%;
}
@media(max-width: 1600px) {
  .landing-page-top-container {
    height: 997px;
  }
  .landing-page-container001 {
    width: 45%;
  }
  .landing-page-logo {
    font-size: 2.5rem;
  }
  .landing-page-container003 {
    width: 5%;
  }
  .landing-page-link {
    font-size: 1.7rem;
  }
  .landing-page-link1 {
    font-size: 1.7rem;
  }
  .landing-page-link2 {
    font-size: 1.7rem;
  }
  .landing-page-link3 {
    font-size: 1.7rem;
  }
  .landing-page-image {
    width: 240px;
  }
  .landing-page-text09 {
    font-size: 1rem;
  }
  .landing-page-image1 {
    width: 240px;
  }
  .landing-page-text11 {
    font-size: 1rem;
  }
  .landing-page-container014 {
    width: 2.5rem;
    height: 2.5rem;
  }
  .landing-page-container015 {
    width: 2.5rem;
    height: 2.5rem;
  }
  .landing-page-container016 {
    width: 2.5rem;
    height: 2.5rem;
  }
  .landing-page-container017 {
    width: 2.5rem;
    height: 2.5rem;
  }
  .landing-page-image2 {
    width: 240px;
  }
  .landing-page-text13 {
    font-size: 1rem;
  }
  .landing-page-image3 {
    width: 240px;
  }
  .landing-page-text15 {
    font-size: 1rem;
  }
  .landing-page-text17 {
    font-size: 1rem;
  }
  .landing-page-text19 {
    font-size: 1rem;
  }
  .landing-page-text21 {
    font-size: 1rem;
  }
  .landing-page-text23 {
    font-size: 1rem;
  }
  .landing-page-container044 {
    width: 70%;
  }
  .landing-page-container046 {
    width: 70%;
  }
  .landing-page-container078 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .landing-page-text51 {
    padding-top: var(--dl-space-space-halfunit);
  }
  .landing-page-text56 {
    padding-top: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 1200px) {
  .landing-page-logo {
    font-size: 2.2rem;
  }
  .landing-page-link {
    font-size: 1.4rem;
  }
  .landing-page-link1 {
    font-size: 1.4rem;
  }
  .landing-page-link2 {
    font-size: 1.4rem;
  }
  .landing-page-link3 {
    font-size: 1.4rem;
  }
  .landing-page-container006 {
    padding-left: var(--dl-space-space-unit);
  }
  .landing-page-image {
    width: 200px;
  }
  .landing-page-container009 {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
  .landing-page-text08 {
    font-size: 1.2rem;
  }
  .landing-page-image1 {
    width: 200px;
  }
  .landing-page-text10 {
    font-size: 1.2rem;
  }
  .landing-page-container018 {
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-image2 {
    width: 200px;
  }
  .landing-page-text12 {
    font-size: 1.2rem;
  }
  .landing-page-image3 {
    width: 200px;
  }
  .landing-page-text14 {
    font-size: 1.2rem;
  }
  .landing-page-text16 {
    font-size: 1.2rem;
  }
  .landing-page-text18 {
    font-size: 1.2rem;
  }
  .landing-page-text20 {
    font-size: 1.2rem;
  }
  .landing-page-text22 {
    font-size: 1.2rem;
  }
  .landing-page-text34 {
    border-width: 0px;
  }
  .landing-page-text35 {
    border-width: 0px;
  }
  .landing-page-text39 {
    width: 70%;
  }
  .landing-page-container070 {
    width: 20%;
  }
  .landing-page-container072 {
    width: 20%;
  }
  .landing-page-container073 {
    width: 40%;
  }
  .landing-page-container075 {
    width: 45%;
  }
  .landing-page-container076 {
    width: 10%;
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container077 {
    width: 45%;
  }
  .landing-page-container079 {
    width: 45%;
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container080 {
    width: 10%;
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container081 {
    width: 45%;
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container089 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container090 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container093 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container094 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container103 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
  .landing-page-container107 {
    border-color: var(--dl-color-primary-sfondomorbido);
    border-width: 0px;
  }
}
@media(max-width: 991px) {
  .landing-page-navbar {
    padding: var(--dl-space-space-unit);
  }
  .landing-page-logo {
    font-size: 1.8rem;
  }
  .landing-page-link {
    font-size: 1rem;
  }
  .landing-page-link1 {
    font-size: 1rem;
  }
  .landing-page-link2 {
    font-size: 1rem;
  }
  .landing-page-link3 {
    font-size: 1rem;
  }
  .landing-page-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .landing-page-agenda {
    display: none;
  }
  .landing-page-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-image {
    width: 100%;
  }
  .landing-page-blog-post-card1 {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-image1 {
    width: 100%;
  }
  .landing-page-container014 {
    width: 2rem;
    height: 2rem;
  }
  .landing-page-container015 {
    width: 2rem;
    height: 2rem;
  }
  .landing-page-container016 {
    width: 2rem;
    height: 2rem;
  }
  .landing-page-container017 {
    width: 2rem;
    height: 2rem;
  }
  .landing-page-blog-post-card2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-image2 {
    width: 100%;
  }
  .landing-page-blog-post-card3 {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-image3 {
    width: 100%;
  }
  .landing-page-agenda-mobile {
    display: flex;
  }
  .landing-page-blog-post-card4 {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-image4 {
    width: 100%;
    height: 100%;
  }
  .landing-page-blog-post-card5 {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-image5 {
    width: 100%;
    height: 100%;
  }
  .landing-page-blog-post-card6 {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-image6 {
    width: 100%;
    height: 100%;
  }
  .landing-page-blog-post-card7 {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-page-image7 {
    width: 100%;
    height: 100%;
  }
  .landing-page-ora-e-luogo {
    flex-direction: column;
  }
  .landing-page-text24 {
    text-align: center;
  }
  .landing-page-text25 {
    text-align: center;
  }
  .landing-page-container044 {
    width: 80%;
  }
  .landing-page-container046 {
    width: 80%;
  }
  .landing-page-text39 {
    width: 80%;
  }
  .landing-page-text40 {
    max-width: 70%;
  }
  .landing-page-container070 {
    width: 10%;
  }
  .landing-page-container071 {
    width: 15%;
  }
  .landing-page-container072 {
    width: 10%;
  }
  .landing-page-container073 {
    width: 60%;
  }
  .landing-page-container074 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container076 {
    width: 5%;
    border-width: 0px;
  }
  .landing-page-container077 {
    justify-content: center;
  }
  .landing-page-container079 {
    border-width: 0px;
  }
  .landing-page-container080 {
    width: 5%;
    border-width: 0px;
  }
  .landing-page-container081 {
    border-width: 0px;
  }
  .landing-page-container084 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container085 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container087 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container089 {
    border-width: 0px;
  }
  .landing-page-container090 {
    border-width: 0px;
  }
  .landing-page-container093 {
    border-width: 0px;
  }
  .landing-page-container094 {
    border-width: 0px;
  }
  .landing-page-container097 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container098 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container100 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container102 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container103 {
    border-width: 0px;
  }
  .landing-page-container107 {
    border-width: 0px;
  }
}
@media(max-width: 767px) {
  .landing-page-top-container {
    background-size: cover;
    background-image: url("/assets/playground_assets/img_1562_bis%20-%20mobile-1500w.jpg");
    background-position: bottom;
  }
  .landing-page-container001 {
    width: 80%;
  }
  .landing-page-logo {
    font-size: 1.7rem;
  }
  .landing-page-container003 {
    display: none;
  }
  .landing-page-container004 {
    display: none;
  }
  .landing-page-right-side {
    display: none;
  }
  .landing-page-container005 {
    width: 20%;
    display: flex;
    align-items: flex-end;
  }
  .landing-page-burger-menu {
    display: flex;
  }
  .landing-page-text {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-sfondomorbido);
  }
  .landing-page-text01 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-sfondomorbido);
  }
  .landing-page-text02 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-sfondomorbido);
  }
  .landing-page-text03 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-sfondomorbido);
  }
  .landing-page-hero {
    justify-content: center;
  }
  .landing-page-content-container {
    align-items: center;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.31);
  }
  .landing-page-text04 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .landing-page-text05 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .landing-page-text06 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }
  .landing-page-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-text07 {
    font-size: 2.5rem;
  }
  .landing-page-image1 {
    width: 100%;
  }
  .landing-page-line {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .landing-page-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .landing-page-line2 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .landing-page-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .landing-page-line4 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .landing-page-image5 {
    width: 100%;
  }
  .landing-page-ora-e-luogo {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text24 {
    font-size: 2.5rem;
  }
  .landing-page-text25 {
    font-size: 1.3rem;
  }
  .landing-page-text28 {
    font-size: 1.8em;
  }
  .landing-page-text29 {
    text-align: center;
  }
  .landing-page-text32 {
    text-align: center;
  }
  .landing-page-textinput {
    width: 80%;
  }
  .landing-page-text33 {
    text-align: center;
  }
  .landing-page-textinput1 {
    width: 80%;
  }
  .landing-page-text34 {
    text-align: center;
  }
  .landing-page-textarea {
    width: 80%;
  }
  .landing-page-text35 {
    text-align: center;
  }
  .landing-page-text38 {
    text-align: center;
  }
  .landing-page-textarea1 {
    width: 80%;
  }
  .landing-page-hero1 {
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text39 {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .landing-page-text40 {
    font-size: 1.1rem;
    max-width: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-container069 {
    display: none;
  }
  .landing-page-container082 {
    display: flex;
  }
  .landing-page-container084 {
    justify-content: center;
  }
  .landing-page-text61 {
    text-align: right;
  }
  .landing-page-container092 {
    justify-content: center;
  }
  .landing-page-text69 {
    text-align: right;
  }
  .landing-page-container097 {
    justify-content: center;
  }
  .landing-page-container105 {
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .landing-page-top-container {
    height: 1233px;
    background-size: cover;
    background-image: url("/assets/playground_assets/img_1562_bis%20-%20mobile-1500w.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .landing-page-container001 {
    width: 85%;
  }
  .landing-page-logo {
    font-size: 1.4rem;
  }
  .landing-page-container005 {
    width: 15%;
  }
  .landing-page-mobile-menu {
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 100;
  }
  .landing-page-logo1 {
    font-size: 1.2rem;
  }
  .landing-page-content-container {
    background: aqua;
    background-color: rgba(217, 217, 217, 0.31);
  }
  .landing-page-text05 {
    font-size: 2.5rem;
    text-align: center;
  }
  .landing-page-text06 {
    font-size: 1.5rem;
  }
  .landing-page-text07 {
    font-size: 2rem;
  }
  .landing-page-container038 {
    position: relative;
  }
  .landing-page-blog-post-card7 {
    justify-content: center;
  }
  .landing-page-image7 {
    align-self: center;
  }
  .landing-page-ora-e-luogo {
    width: 100%;
    padding: 32px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-text25 {
    font-size: 1.1rem;
  }
  .landing-page-btn-group {
    flex-direction: column;
  }
  .landing-page-container044 {
    width: 100%;
  }
  .landing-page-text28 {
    font-size: 1.5em;
  }
  .landing-page-container046 {
    width: 100%;
  }
  .landing-page-text29 {
    text-align: center;
  }
  .landing-page-text30 {
    text-align: center;
  }
  .landing-page-text31 {
    text-align: center;
  }
  .landing-page-text32 {
    text-align: center;
  }
  .landing-page-textinput {
    width: 90%;
  }
  .landing-page-text33 {
    text-align: center;
  }
  .landing-page-textinput1 {
    width: 90%;
  }
  .landing-page-text34 {
    text-align: center;
  }
  .landing-page-textarea {
    width: 90%;
  }
  .landing-page-text35 {
    text-align: center;
  }
  .landing-page-text38 {
    text-align: center;
  }
  .landing-page-textarea1 {
    width: 90%;
  }
  .landing-page-hero1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .landing-page-container068 {
    align-items: center;
  }
  .landing-page-text39 {
    font-size: 2rem;
  }
  .landing-page-text40 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-container082 {
    display: none;
  }
  .landing-page-container095 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .landing-page-container097 {
    justify-content: center;
  }
  .landing-page-container098 {
    align-self: center;
  }
  .landing-page-container099 {
    height: auto;
    align-items: center;
  }
  .landing-page-container100 {
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .landing-page-container101 {
    align-items: center;
  }
  .landing-page-text77 {
    font-size: 1.3rem;
    text-align: center;
  }
  .landing-page-container102 {
    align-self: center;
    justify-content: center;
  }
  .landing-page-container103 {
    width: 100%;
  }
  .landing-page-text80 {
    text-align: center;
  }
  .landing-page-container104 {
    padding-top: var(--dl-space-space-unit);
    justify-content: center;
  }
  .landing-page-container105 {
    width: 100%;
    height: auto;
  }
  .landing-page-text85 {
    font-size: 1.3rem;
    text-align: center;
  }
  .landing-page-container106 {
    justify-content: center;
  }
  .landing-page-container107 {
    width: 100%;
  }
  .landing-page-text88 {
    text-align: center;
  }
}
